aiohttp==3.7.4
altgraph==0.16.1
async-timeout==3.0.1
attrs==19.1.0
chardet==3.0.4
future==0.17.1
idna==2.8
multidict==4.5.2
notify2==0.3.1
numpy==1.17.3
opencv-contrib-python==4.1.1.26
opencv-python==4.1.1.26
pefile==2019.4.18
PyInstaller==3.5
pynput==1.4.2
pypiwin32==223
pywin32==224
pywin32-ctypes==0.2.0
six==1.12.0
websockets==6.0
win10toast==0.9