aiohttp
altgraph
async-timeout
attrs
chardet
future
idna
multidict
notify2
numpy
opencv-contrib-python
opencv-python
pefile
PyInstaller
pynput
pypiwin32
pywin32
pywin32-ctypes
six
websockets
win10toast
